body {
    height: 100%;
    background-color: #f9f9fb;

}

div {
    display: block;
}

.header {
    height: 65px;
    width: 100%;
    position: fixed;
    background-color: #333c4e;
    z-index: 10;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}

.logo, .logo:visited {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    float: left;
    width: 250px;
    height: 29px;
    margin: 20px 0 0 40px;
    background: url(../img/logo.png) no-repeat;
}

.logo:hover {
    background-position-y: -49px;
    border-color: rgba(255, 255, 255, 1);
}

ul {
    list-style: none;
}

.social {
    margin-right: 40px;
    padding: 25px 0 0 0;
    font-size: 13px;
    line-height: 20px;
    float: right;
}

.social li {
    float: left;
}

.social li.social-twitter {
    padding-right: 20px;
}

.social li a.twitter, .social li a.twitter:visited {
    margin: -4px 0 0 0;
    width: 96px;
    height: 23px;
    font-size: 20px;
    background: url(../img/twitter-logo.png) no-repeat;
    display: block;
}

.social li a.twitter:hover {
    background-position-y: -23px;
}

.social li a.facebook, .social li a.facebook:visited {
    margin: -4px 0 0 0;
    width: 103px;
    height: 23px;
    font-size: 20px;
    background: url(../img/facebook-logo.png) no-repeat;
    display: block;
}

.social li a.facebook:hover {
    background-position-y: -23px;
}

/* content */
.content {
    margin-bottom: 30px;
    padding-top: 100px;
}

.vedio {
    margin: 0 auto;
    width: 600px;
    height: 500px;
    position: relative;
}

.scrollbar {
    height: 8px;
    position: relative;
    top: 350px;
}

.track {
    margin: 0 10px;
    height: 8px;
    position: relative;
}

.thumb {
    width: 410px;
    height: 8px;
    background: rgba(255,255,255,.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.thumb .end {
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
}

.slides li {
    padding: 2px;
    cursor: pointer;
}

.episode-slider {
    background: #000;
    border: 4px solid #fff;
    border-radius: 4px;
    /*padding-bottom: 196px;*/
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.episode-block {
    height: 360px;
}

.episode-list {
    padding-left: 0;
    height: 280px;
}

.episode-list li {
    float: left;
    padding: 3px;
    opacity: .5;
    width: 206px;
    margin-left: 4px;
    margin-top: 4px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.episode-list li img {
    border-radius: 3px;
}

.episode-list li.current {
    opacity: 1;
}

.episode-list li .watch {
    padding: 11px 14px 10px 14px;
    font-size: 12px;
    line-height: 12px;
    color: rgb(255, 255, 255);
    background: rgba(36, 152, 207, .8);
    border-radius: 17px;
    margin-left: 70px;
    margin-top: -86px;
    position: absolute;
    display: none;
}

.episode-list li .episode-number {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, .9);
    position: absolute;
    margin-left: 150px;
    margin-top: -200px;
}

.episode-list li .episode-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: rgb(34, 34, 34);
    position: absolute;
}

.episode-list li .episode-description {
    font-size: 10px;
    line-height: 15px;
    color: rgb(153, 153, 153);
    display: block;
    margin-top: 30px;
}

/* content */

.footer {
    height: 80px;
    background: #222222;
    bottom: 0px;
    width: 100%;
    position: absolute;
}

.footer .info {
    padding-top: 30px;
    padding-left: 60px;
}

.footer .links {
    float: left;
}

.footer .links a {
    display: block;
    float: left;
    font-size: 12px;
    color: #aaa;
    margin-left: 20px
}

/*
 * Global loading
 */
.loading {
  padding: 30px 0;
  text-align: center;
}
.loading span {
  padding-left: 20px;
  height: 44px;
  background: url("../img/loading.gif") no-repeat 0 50%;
}
