body {
    height: 100%;
    background-color: #ffffff;
    margin: 0;
}

div {
    display: block;
}

.header {
    height: 65px;
    width: 100%;
    position: fixed;
    background-color: #333c4e;
    z-index: 10;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
    left: 0;
    top: 0;
}

.logo, .logo:visited {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    float: left;
    width: 250px;
    height: 29px;
    margin: 20px 0 0 40px;
    background: url(../img/logo.png) no-repeat;
}

.logo:hover {
    background-position-y: -49px;
    border-color: rgba(255, 255, 255, 1);
}

ul {
    list-style: none;
}

.social {
    margin-right: 40px;
    padding: 10px 0 0 0;
    font-size: 13px;
    line-height: 20px;
    float: right;
}

.social li {
    float: left;
}

.social li.social-twitter {
    padding-right: 20px;
}

.social li a.twitter, .social li a.twitter:visited {
    margin: -4px 0 0 0;
    width: 96px;
    height: 23px;
    font-size: 20px;
    background: url(../img/twitter-logo.png) no-repeat;
    display: block;
}

.social li a.twitter:hover {
    background-position-y: -23px;
}

.social li a.facebook, .social li a.facebook:visited {
    margin: -4px 0 0 0;
    width: 103px;
    height: 23px;
    font-size: 20px;
    background: url(../img/facebook-logo.png) no-repeat;
    display: block;
}

.social li a.facebook:hover {
    background-position-y: -23px;
}

/* content */
.wrapper {
    /*position: relative;*/
}

.content {
    margin-bottom: 30px;
    padding-top: 100px;
    position: relative;
}

.vedio {
    margin: 0 auto;
    width: 600px;
    height: 500px;
    position: relative;
    cursor: pointer;
}

.scrollbar {
    height: 8px;
    position: relative;
    top: 350px;
}

.track {
    margin: 0 10px;
    height: 8px;
    position: relative;
}

.thumb {
    width: 410px;
    height: 8px;
    background: rgba(255,255,255,.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.thumb .end {
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
}

.slides li {
    padding: 2px;
    cursor: pointer;
}

.episode-slider {
    background: #000;
    border: 4px solid #fff;
    border-radius: 4px;
    /*padding-bottom: 196px;*/
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.episode-block {
    max-height: 360px;
    margin-bottom: 40px;
}

.episode-list {
    padding-left: 0;
    margin-top: 4px;
    height: 280px;
}

.episode-list li {
    float: left;
    opacity: .5;
    width: 206px;
    margin-left: 4px;
    margin-top: 4px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.episode-list li .episode-card {
    margin: 3px;
}

.episode-list li img {
    border-radius: 3px;
}

.episode-list li.current {
    opacity: 1;
}

.episode-list li .watch {
    padding: 11px 14px 10px 14px;
    font-size: 12px;
    line-height: 12px;
    color: rgb(255, 255, 255);
    background: rgba(36, 152, 207, .8);
    border-radius: 17px;
    margin-left: -130px;
    margin-top: 86px;
    position: absolute;
    display: none;
}

.episode-list li .episode-number {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, .9);
    position: absolute;
    margin-left: -40px;
}

.episode-list li .episode-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: rgb(34, 34, 34);
    position: absolute;
    margin-left: -200px;
    margin-top: 200px;
}

.episode-list li .episode-description {
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: rgb(153, 153, 153);
    display: block;
    margin-top: 30px;
}

/* content */

.footer {
    height: 80px;
    background: #222222;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer .info {
    padding-top: 35px;
    padding-left: 60px;
}

.footer .links {
    float: left;
}

.footer .links a {
    display: block;
    float: left;
    font-size: 12px;
    color: #aaa;
    margin-left: 20px
}

/*
 * contact us
 */
.inr {
    width: 960px;
    margin: 0 auto;
}
h2.title {
    font-size: 56px;
    font-weight: normal;
    margin: 0;
    vertical-align: baseline;
    text-align: center;
}

p.subtitle {
    font-size: 40px;
    line-height: 2em;
    color: #7b7b7b;
    margin: 0 0 120px 0;
    vertical-align: baseline;
    text-align: center;
}

ul.members {
    padding: 0px;
}

li.member {
    width: 32.7%;
    margin-bottom: 85px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    text-align: center;
}

li.member i.avatar {
    background-image: url("../img/avatar/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 16px;
}
li.member.wangxi i.avatar {
    background-image: url("../img/avatar/5.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
li.member.liujia i.avatar {
    background-image: url("../img/avatar/2.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
li.member.fanyiqi i.avatar {
    background-image: url("../img/avatar/1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
li.member.zhanghao i.avatar {
    background-image: url("../img/avatar/3.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
li.member.peng i.avatar {
    background-image: url("../img/avatar/4.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
li.member.yanjun i.avatar {
    background-image: url("../img/avatar/6.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/*
 * contact us
 */
.contact-bg {
    float: left;
}

.inr .contact {
    margin-left: 553px;
    padding-top: 4px;
}

.inr .contact h2 {
    font-size: 40px;
    color: #84a099;
    margin-bottom: 3px;
}

.inr .contact-info {
    overflow: hidden;
    line-height: 1.75;
}

.inr .contact-info dt {
    font-weight: normal;
    float: left;
    clear: left;
}

#about_us_content {
    margin-bottom: 220px;
}

/*
 * Global loading
 */
.loading {
  padding: 30px 0;
  text-align: center;
}
.loading span {
  padding-left: 20px;
  height: 44px;
  background: url("../img/loading.gif") no-repeat 0 50%;
}

a {
    text-decoration: none;
}
